/* Demo CSS */

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
a {
  outline: none;
  text-decoration: none;
}

/* Modal Styles */
.modal {
  z-index: 50 !important;
  overflow: scroll;
  padding: 0 15px;
  width: 40%;
  height: 40%;
  border: 1px solid #bbb;
  background: #fff;
  box-shadow: rgba(0,0,0,.15) 0 15px 50px;
  opacity: 0;
  transition: all .2s ease-in-out;
  pointer-events: none;
}
.modal.show {
  z-index: 5000 !important;
  opacity: 1;
  pointer-events: auto;
}
.modal nav {
  position: relative;
  padding: 15px 0 0 0;
}
.modal nav h2 {
  display: inline-block;
  margin: 0;
  padding: 0;
  color: #777;
  font-weight: 300;
  font-size: 18pt;
}
.modal nav a {
  position: absolute;
  top: 12px;
  right: 7px;
  color: #999;
  font-size: 18pt;
  transition: all .2s ease-in-out;
}
.modal p {
  margin: 5px;
  color: #777;
  font-weight: 400;
  font-size: 12pt;
  line-height: 16pt;
}

/* Carousel Styles */
.carousel {
  position: fixed;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.carousel .slide {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
.slidenav {
  position: absolute;
  right: 15px;
  bottom: 15px;
  z-index: 5000;
}
.slidenav a {
  outline: none;
  color: #333;
  text-decoration: none;
  font-weight: 500;
  font-size: 48pt;
  font-family: 'Source Sans Pro', sans-serif;
  line-height: 48pt;
  opacity: 0.3;
  transition: all .2s ease-in-out;
}
.slidenav a:hover,
.slidenav a:focus {
  opacity: 1;
}

/*
// Slide: Alijn
*/
.slide#alijn * {
  font-family: 'Source Sans Pro', sans-serif;
}
.slide#alijn {
  margin: 0;
  height:
  100%;
  background: #eaeaea;
}
.slide#alijn strong {
  font-weight: 400;
}
.slide#alijn h1 {
  margin: 0;
  padding-top: 15px;
  color: #777;
  text-align: center;
  font-size: 24pt;
}
.slide#alijn #card,
.slide#alijn #note,
.slide#alijn #sticky {
  display: block;
  margin: 15px 0;
  margin-right: 15px;
  margin-left: 15px;
  padding: 15px 30px;
  width: auto;
  border: 1px solid rgba(0,0,0,.075);
  border-top-color: rgba(255,255,255,.5);
  border-bottom-color: rgba(0,0,0,.15);
  border-radius: 3px;
  background: #fff;
  box-shadow: rgba(0,0,0,.15) 0 5px 15px;
  color: #555;
  text-align: center;
  text-shadow: rgba(255,255,255,.3) 0 1px 1px;
  font-weight: 200;
  font-size: 12pt;
}
.slide#alijn footer {
  position: absolute;
  bottom: 15px;
  width: 100%;
  color: #999;
  text-align: center;
  font-weight: 400;
  font-size: 10pt;
}
.slide#alijn footer a {
  outline: none;
  color: #777;
  text-decoration: none;
}
.slide#alijn footer a:hover,
.slide#alijn footer a:focus {
  color: #555;
  text-decoration: none;
}

/*
// Slide: Modals
*/
.slide#modal * {
  font-family: 'Source Sans Pro', sans-serif;
}
.slide#modal {
  margin: 0;
  height:
  100%;
  background: #a4c0e4;
}
.slide#modal h1 {
  margin: 0;
  padding-top: 15px;
  color: #777;
  text-align: center;
  font-size: 24pt;
}
.slide#modal p.intro {
  color: #0057ae;
  text-align: center;
}
.slide#modal p.intro a {
  color: #00438a;
}
.slide#modal p.intro a:hover,
.slide#modal p.intro a:focus {
  color: #2c72c7;
}

/*
// Slide: Element Queries
*/
.slide#element-queries * {
  font-family: 'Source Sans Pro', sans-serif;
}
.slide#element-queries {
  margin: 0;
  height:
  100%;
  background: #a8dde0;
}
.slide#element-queries h1 {
  margin: 0;
  padding-top: 15px;
  color: #777;
  text-align: center;
  font-size: 24pt;
}
.slide#element-queries #querybox {
  padding: 0 0 0 0;
  width: 75%;
  height: 75%;
  background: #00c4cc;
}

.slide#element-queries #querybox[class~="350plus"] {
  background: #00a7b3;
}

.slide#element-queries #querybox[class~="500plus"] {
  background: #007880;
}

.slide#element-queries #querybox[class~="750plus"] {
  background: #006066;
}

.slide#element-queries #querybox:before {
  position: absolute;
  top: 50%;
  width: 100%;
  color: #fff;
  text-align: center;
  text-shadow: #006066 1px 2px 2px;
}

.slide#element-queries #querybox[class~="350minus"]:before {
  content: 'Narrower than 350px';
  font-size: 12pt;
}

.slide#element-queries #querybox[class~="350plus"]:before {
  content: 'Wider than 350px';
}

.slide#element-queries #querybox[class~="500plus"]:before {
  content: 'Wider than 500px';
}

.slide#element-queries #querybox[class~="750plus"]:before {
  content: 'Wider than 750px';
}
